@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
}
body {
  width: 100vw;
  /* height: 100vh; */

  background-image: url(assets/Fundo.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: #121214;
}

body * {
  line-height: 160%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
